

<div  style="margin:0%;   padding: 40px; ">
  <h2 style="color: cornsilk;">Edit Note</h2> <br>
  <form (ngSubmit)="edit()">
    <div class="mb-3">
      <h4 for="title"  class="form-label" style="color: cornsilk;">Title</h4>
      <input type="text"  [(ngModel)]="title"  [(ngModel)]="data.title" autocomplete="off" class="form-control" id="title" name="title" aria-describedby="title">
    </div>
    <div class="mb-3">
      <h4 for="body"   class="form-label" style="color: cornsilk;">Description</h4>
      <textarea type="text" [(ngModel)]="body"  [(ngModel)]="data.body"  rows="10" class="form-control" id="body"  name="body" ></textarea>
    </div>
    <button type="submit" class="btn btn-sm btn-success " >Edit</button>
  </form>
</div>
